In [23]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
import lightgbm as lgb
import xgboost as xgb
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import mlflow 
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from datetime import datetime
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
from optbinning import OptimalBinning
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from scipy.stats import f_oneway
warnings.filterwarnings('ignore')

## Generating Data

In [24]:
def prob_return(num):
    a = 2
    b = 2
    mu = 0
    sigma = 0.5
    # return np.random.beta(a, b, size=num)
    # normal = np.random.normal(0, 1, num)
    # normal = norm.cdf(normal)
    # return normal
    return abs(np.random.normal(mu, sigma, num))

random.seed(10)
def generate_data(num):
    df = pd.DataFrame({'party_id':[i for i in range(num)],
                      'risk_probability': [random.uniform(a = 0, b = 1) for i in range(num)]
                      })
    
    df['high_risk_flag'] = [0 if i<0.50 else 1 for i in df['risk_probability']]
    ##################### BILL  ##############################
    df['BILL_OUTSTANDING_M1_avg'] = 5000*(df['risk_probability'] + prob_return(num) )
    df['BILL_AMT_M1_avg'] = 4000*(df['risk_probability'] + prob_return(num) )
    df['BILL_RENTALS_M1_avg'] = 700*(df['risk_probability'] + prob_return(num) )
    df['BILL_RENTALS_M2_avg'] = 1700*(df['risk_probability'] + prob_return(num) )
    df['BILL_RENTALS_M3_avg'] = 1600*(df['risk_probability'] + prob_return(num) )
    df['BILL_RENTALS_M4_avg'] = 400*(df['risk_probability'] + prob_return(num) )
    df['BILL_RENTALS_M5_avg'] = 350*(df['risk_probability'] + prob_return(num) )
    df['BILL_RENTALS_M6_avg'] = 400*(df['risk_probability'] + prob_return(num) )
    df['BILL_USAGE_CHRGS_M1_avg'] = 0.02*(df['risk_probability'] + prob_return(num) )
    df['BILL_USAGE_CHRGS_M2_avg'] = 0.2*(df['risk_probability'] + prob_return(num) )
    df['BILL_USAGE_CHRGS_M3_avg'] = 0.2*(df['risk_probability'] + prob_return(num) )
    df['BILL_USAGE_CHRGS_M4_avg'] = 0.15*(df['risk_probability'] + prob_return(num) )
    df['BILL_USAGE_CHRGS_M5_avg'] = 1300*(df['risk_probability'] + prob_return(num) )
    df['BILL_USAGE_CHRGS_M6_avg'] = 1400*(df['risk_probability'] + prob_return(num) )
    df['BILL_OUTSTANDING_M1_sum'] = 5000*(df['risk_probability'] + prob_return(num) )
    df['BILL_OUTSTANDING_M3_avg'] = 3500*(df['risk_probability'] + prob_return(num) )
    df['BILL_OUTSTANDING_M3_sum'] = 7000*(df['risk_probability'] + prob_return(num) )
    df['BILL_OUTSTANDING_M6_avg'] = 3000*(df['risk_probability'] + prob_return(num) )
    df['BILL_OUTSTANDING_M6_sum'] = 4000*(df['risk_probability'] + prob_return(num) )
    ########### ACTV ##############
    df['ACTV_30_DYS_avg'] = df['risk_probability'] + prob_return(num)
    df['ACTV_60_DYS_avg'] = df['risk_probability'] + prob_return(num)
    df['ACTV_90_DYS_avg'] = df['risk_probability'] + prob_return(num)
    df['ACTV_30_DYS_norm'] = 50*(df['risk_probability'] + prob_return(num))
    df['ACTV_60_DYS_norm'] = 100*(df['risk_probability'] + prob_return(num))
    df['ACTV_90_DYS_norm'] = 25*(df['risk_probability'] + prob_return(num))
    
    ########### ARPU #################
    df['ARPU_12_avg'] = 350*(df['risk_probability'] + prob_return(num))
    df['ARPU_1_avg'] = 3000*(df['risk_probability'] + prob_return(num))
    df['ARPU_3_avg'] = 150*(df['risk_probability'] + prob_return(num))
    df['ARPU_6_avg'] = 2000*(df['risk_probability'] + prob_return(num))
    df['ARPU_12_sum'] = 200*(df['risk_probability'] + prob_return(num))
    df['ARPU_1_sum'] = 325*(df['risk_probability'] + prob_return(num))
    df['ARPU_3_sum'] = 150*(df['risk_probability'] + prob_return(num))
    df['ARPU_6_sum'] = 3500*(df['risk_probability'] + prob_return(num))
    df
    ############# FLG ##############
    df['BAR_FLG_M6_N_norm'] = 97*(df['risk_probability'] + prob_return(num))
    df['BAR_FLG_M6_Y_norm'] = 52*(df['risk_probability'] + prob_return(num))
    df['BAR_FLG_N_norm'] = 1*(df['risk_probability'] + prob_return(num))
    df['BAR_FLG_Y_norm'] = 1*(df['risk_probability'] + prob_return(num))
    df['CC_CARD_FLG_count']  = 1*(df['risk_probability'] + prob_return(num))
    df['CST_CAT_FLG_EP_norm'] = 73*(df['risk_probability'] + prob_return(num))
    df['CST_CAT_FLG_NP_norm'] = 87*(df['risk_probability'] + prob_return(num))
    df['PORTIN_N_FLG_count'] = 0.5*(df['risk_probability'] + prob_return(num))
    df['PORTIN_N_FLG_norm'] = 86*(df['risk_probability'] + prob_return(num))
    df['PORTIN_Other_FLG_count'] = 1*(df['risk_probability'] + prob_return(num))
    df['PORTIN_Other_FLG_norm'] = 1*(df['risk_probability'] + prob_return(num))
    df['PORTIN_Y_FLG_count'] = 1*(df['risk_probability'] + prob_return(num))
    df['PORTIN_Y_FLG_norm'] = 1*(df['risk_probability'] + prob_return(num))
    df['PORTOUT_N_FLG_count'] = 0.5*(df['risk_probability'] + prob_return(num))
    df['PORTOUT_N_FLG_norm'] = 86*(df['risk_probability'] + prob_return(num))
    df['PORTOUT_Other_FLG_count'] = 1*(df['risk_probability'] + prob_return(num))
    df['PORTOUT_Other_FLG_norm'] = 1*(df['risk_probability'] + prob_return(num))
    df['PORTOUT_Y_FLG_count'] = 1*(df['risk_probability'] + prob_return(num))
    df['PORTOUT_Y_FLG_norm'] = 1*(df['risk_probability'] + prob_return(num))
    
    
    ############## VO #############
    df['VO_MOB_MOU_FREE_M1'] = 13500*(df['risk_probability'] + prob_return(num))
    df['VO_MOB_MOU_OFFNT_M1'] = 3156*(df['risk_probability'] + prob_return(num))
    df['VO_MOB_MOU_ONNT_M1'] = 15500*(df['risk_probability'] + prob_return(num))
    
    ############ PORT #############
    df['MNP_PORT_IN_0_count'] = prob_return(num)
    df['MNP_PORT_OUT_0_count'] = prob_return(num)
    df['MNP_PORT_IN_1_count'] = prob_return(num)
    df['MNP_PORT_OUT_1_count'] =prob_return(num)
    df['MNP_PORT_IN_0_norm'] = prob_return(num)
    df['MNP_PORT_OUT_0_norm'] =prob_return(num)
    df['MNP_PORT_IN_1_norm'] = prob_return(num)
    df['MNP_PORT_OUT_1_norm'] =prob_return(num)
    
    df['PORTIN_N_FLG_count']=0.5*(df['risk_probability'] + prob_return(num))
    df['PORTIN_N_FLG_norm']=86*(df['risk_probability'] + prob_return(num))
    df['PORTIN_Y_FLG_count'] =prob_return(num)
    df['PORTIN_Y_FLG_norm']=prob_return(num)
    df['PORTIN_Other_FLG_count']=prob_return(num)
    df['PORTIN_Other_FLG_norm']=prob_return(num)
    
    
    df['PORTOUT_N_FLG_count']=0.5*(df['risk_probability'] + prob_return(num))
    df['PORTOUT_N_FLG_norm']=86*(df['risk_probability'] + prob_return(num))
    df['PORTOUT_Y_FLG_count'] =prob_return(num)
    df['PORTOUT_Y_FLG_norm']=prob_return(num)
    df['PORTOUT_Other_FLG_count']=prob_return(num)
    df['PORTOUT_Other_FLG_norm']=prob_return(num)
    
    ####### CST ################
    df['CST_BAD_DEBT_AMT'] = 6200*(df['risk_probability'] + prob_return(num))
    df['CST_BAD_DEBT_RATIO'] = 700*(df['risk_probability'] + prob_return(num))
    df['CST_BILL_AMT_M1']  = 6500*(df['risk_probability'] + prob_return(num))
    
    
    df['OS_TO_PMNT_RATIO_avg']  = 3000*(df['risk_probability'] + prob_return(num))
    df['OS_TO_PMNT_RATIO_norm']  = 317000*(df['risk_probability'] + prob_return(num))
    df['PMNT_AMT_M1_avg']  = 1500*(df['risk_probability'] + prob_return(num))
    df['PMNT_AMT_M1_sum']  = 3500*(df['risk_probability'] + prob_return(num))
    df['PMNT_CHNL_CNT_M1_max']  = 1.5*(df['risk_probability'] + prob_return(num))
    df['PMNT_CNT_M1_avg']  = 1.03*(df['risk_probability'] + prob_return(num))
    df['PMNT_CNT_M1_max']  = 1.5*(df['risk_probability'] + prob_return(num))
    df['TOP_CHNL_TOT_PMNT_RAT_M1_avg']  = 1.53*(df['risk_probability'] + prob_return(num))
    
    df['FNP_portin_count'] = abs(10*np.random.normal(size = num)).astype(int)
    df['FNP_portin_norm'] = abs(10*np.random.normal(size = num)).astype(int)
    df['FNP_portout_count'] = abs(10*np.random.normal(size = num)).astype(int)
    df['FNP_portout_norm'] = abs(10*np.random.normal(size = num)).astype(int)
    df = create_categorical(df, ['GOV-SALES-VIP-AUH','Growth','Unknown','Missing'], 'CST_CORP_SEG_mode')
    df = create_categorical(df, ['1*STAR','4*STAR','2*STAR','PRSTG_MGMT','PRESTIGE','3*STAR','NEW CUST','5*STAR','Unknown','DORMANT','Missing'], 'CST_PFT_ARPU_BAND_mode')
    df = create_categorical(df, ['None', 'EMIRATI BRONZE','UNIDENTIFIED', 'PRESTIGE BY MGMT', 'BRONZE','VVVIP', 'GOLD_SPECIAL_NEEDS', 'EMIRATI GOLD', 'PRESTIGE PLATINUM', 'PRESTIGE Ana Emirati', 'EMIRATI SILVER','EMIRATI WELCOME', 'PRESTIGE SOLITAIRE', 'SILVER', 'GOLD', 'WELCOME','YOUTH', 'Missing'] , 'CST_PFT_ARPU_SEG_mode')
    df = create_categorical(df, ['CONSUMER'], 'CST_SEG_TP_mode')
    df = create_categorical(df, ['Diamond','Unknown','Platinum','Gold'], 'CST_VAL_SEG_mode')
    df = create_categorical(df, ['Unknown', 'BankAdvice', 'Cheque', 'Card', 'Mix', 'Wallet', 'Cash', 'Loyalty', 'None'],'PMNT_TOP_CHNL_M1_mode') 

    return df



def create_categorical(df, pop_vals, col_name):
    le = LabelEncoder()
    le.fit(pop_vals)
    le.transform(pop_vals)
    noisy_probs = (df['risk_probability'] + np.random.beta(10,11,size = len(df)) )
    noisy_probs = [0.99 if i>1 else i for i in noisy_probs]
    values = [int(i*len(pop_vals)) for i in noisy_probs]
    transformed = le.inverse_transform(values)
    df[col_name]  = transformed
    return df

In [25]:
df = generate_data(1000)
df.head()

,party_id,risk_probability,high_risk_flag,BILL_OUTSTANDING_M1_avg,BILL_AMT_M1_avg,BILL_RENTALS_M1_avg,BILL_RENTALS_M2_avg,BILL_RENTALS_M3_avg,BILL_RENTALS_M4_avg,BILL_RENTALS_M5_avg,...,FNP_portin_count,FNP_portin_norm,FNP_portout_count,FNP_portout_norm,CST_CORP_SEG_mode,CST_PFT_ARPU_BAND_mode,CST_PFT_ARPU_SEG_mode,CST_SEG_TP_mode,CST_VAL_SEG_mode,PMNT_TOP_CHNL_M1_mode
0,0,0.571403,1,3620.288045,5474.316489,548.086591,1141.620652,975.087581,271.073765,325.535641,...,11,7,11,1,Unknown,Unknown,YOUTH,CONSUMER,Unknown,Wallet
1,1,0.428889,0,5353.350259,2570.684450,475.751494,1084.954972,2157.068972,262.069974,323.689451,...,9,6,7,2,Unknown,Unknown,UNIDENTIFIED,CONSUMER,Unknown,Wallet
2,2,0.578091,1,7470.628244,2423.932423,629.694299,2161.379736,1922.275053,337.533046,462.983333,...,8,7,14,1,Unknown,Unknown,YOUTH,CONSUMER,Unknown,Wallet
3,3,0.206098,0,2594.102829,1442.099784,326.909387,1388.666790,1269.342427,452.326482,205.204915,...,0,8,8,7,Missing,PRESTIGE,PRESTIGE PLATINUM,CONSUMER,Platinum,None
4,4,0.813321,1,4806.669388,4177.792389,1016.392829,1534.096145,1369.946544,484.141707,555.853312,...,2,5,5,7,Unknown,Unknown,YOUTH,CONSUMER,Unknown,Wallet

## Data preprocessing

In [36]:
def seperate_dtypes(df):
    numeric_cols = df.drop(columns = ['party_id','risk_probability','high_risk_flag']).select_dtypes(include = ['number']).columns.tolist()
    obj_cols = df.drop(columns = ['party_id','risk_probability','high_risk_flag']).select_dtypes(exclude = ['number']).columns.tolist()
    cols = {'numeric':numeric_cols, 'obj':obj_cols}
    return cols

def binner(df, target):
    seperated_cols = seperate_dtypes(df)
    numeric = pd.DataFrame()
    for variable in seperated_cols['numeric']:
        numeric[variable] = create_woe_col(df, variable, target)
    for variable in seperated_cols['obj']:
        le = LabelEncoder()
        le.fit(df[variable])
        transformed = le.transform(df[variable])
        df[variable] = transformed 
        numeric[variable] = create_woe_col(df, variable, target)
    return numeric

def create_woe_col(df, variable, target):
    x = df[variable].values
    y = df[target].values
    optb = OptimalBinning(name=variable, dtype='numerical', solver="cp")
    optb.fit(x, y)
    return optb.transform(x, metric = 'woe')

# def bin_categorical(df, target_variable)
df = generate_data(100)
binner(df,'high_risk_flag')

,BILL_OUTSTANDING_M1_avg,BILL_AMT_M1_avg,BILL_RENTALS_M1_avg,BILL_RENTALS_M2_avg,BILL_RENTALS_M3_avg,BILL_RENTALS_M4_avg,BILL_RENTALS_M5_avg,BILL_RENTALS_M6_avg,BILL_USAGE_CHRGS_M1_avg,BILL_USAGE_CHRGS_M2_avg,...,FNP_portin_count,FNP_portin_norm,FNP_portout_count,FNP_portout_norm,CST_CORP_SEG_mode,CST_PFT_ARPU_BAND_mode,CST_PFT_ARPU_SEG_mode,CST_SEG_TP_mode,CST_VAL_SEG_mode,PMNT_TOP_CHNL_M1_mode
0,0.211334,-2.098572,0.103069,0.306871,1.106616,0.741156,-0.365178,-1.819258,-0.681070,-0.922125,...,-0.106141,-0.052314,-0.108662,-0.033116,0.0,-1.645689,-2.126322,0.0,0.0,-1.474417
1,-0.844751,0.988993,0.480873,1.752757,-1.507361,0.741156,-0.365178,2.786950,1.132023,2.767755,...,-0.203305,-0.052314,-0.108662,0.033551,0.0,-1.645689,4.472856,0.0,0.0,-1.474417
2,-2.113876,0.988993,-0.439006,-1.303917,-1.050603,-0.451388,-1.387075,-0.565095,0.073011,0.016261,...,-0.203305,-0.052314,-0.108662,-0.033116,0.0,-1.645689,-2.126322,0.0,0.0,-1.474417
3,3.452903,4.434194,4.206892,-0.175134,-0.416296,-1.024628,3.393518,2.786950,-1.270844,-0.922125,...,0.502745,-0.052314,-0.108662,0.033551,0.0,5.144822,4.472856,0.0,0.0,5.707491
4,-0.844751,-0.971354,-2.003261,-0.699205,-0.416296,-1.408666,-1.387075,-1.819258,-1.178778,-1.044937,...,0.029141,-0.052314,-0.108662,0.033551,0.0,-1.645689,-2.126322,0.0,0.0,-1.474417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.844751,-0.069774,-0.439006,-0.699205,1.106616,-2.307686,-0.365178,-0.370701,0.073011,-0.922125,...,0.284398,0.360882,-0.108662,-0.026099,0.0,-1.645689,-2.126322,0.0,0.0,-1.474417
996,-0.844751,-0.868282,-2.003261,-0.714131,-1.050603,-1.024628,-1.223216,-0.960219,-1.656739,-0.922125,...,-0.407466,-0.593845,-0.108662,0.033551,0.0,-1.645689,-2.126322,0.0,0.0,-1.474417
997,0.211334,-0.069774,0.103069,-0.699205,-0.950520,-1.408666,3.393518,2.786950,4.361043,-0.922125,...,-0.249242,-0.052314,-0.108662,0.033551,0.0,-1.645689,-2.126322,0.0,0.0,-1.474417
998,-0.407053,-0.971354,-2.703526,-0.714131,-1.507361,-0.451388,-0.691229,-1.819258,-0.681070,-0.193153,...,0.342809,0.360882,-0.108662,-0.033116,0.0,-1.645689,-2.126322,0.0,0.0,-1.474417
999,0.211334,0.988993,-0.439006,3.486021,-0.416296,0.741156,-0.181565,0.204578,0.073011,-1.044937,...,-0.249242,0.079758,0.453474,0.483327,0.0,5.144822,4.472856,0.0,0.0,5.707491

In [37]:
df.head()

,party_id,risk_probability,high_risk_flag,BILL_OUTSTANDING_M1_avg,BILL_AMT_M1_avg,BILL_RENTALS_M1_avg,BILL_RENTALS_M2_avg,BILL_RENTALS_M3_avg,BILL_RENTALS_M4_avg,BILL_RENTALS_M5_avg,...,FNP_portin_count,FNP_portin_norm,FNP_portout_count,FNP_portout_norm,CST_CORP_SEG_mode,CST_PFT_ARPU_BAND_mode,CST_PFT_ARPU_SEG_mode,CST_SEG_TP_mode,CST_VAL_SEG_mode,PMNT_TOP_CHNL_M1_mode
0,0,0.571403,1,3620.288045,5474.316489,548.086591,1141.620652,975.087581,271.073765,325.535641,...,11,7,11,1,2,9,13,0,3,7
1,1,0.428889,0,5353.350259,2570.684450,475.751494,1084.954972,2157.068972,262.069974,323.689451,...,9,6,7,2,2,9,10,0,3,7
2,2,0.578091,1,7470.628244,2423.932423,629.694299,2161.379736,1922.275053,337.533046,462.983333,...,8,7,14,1,2,9,13,0,3,7
3,3,0.206098,0,2594.102829,1442.099784,326.909387,1388.666790,1269.342427,452.326482,205.204915,...,0,8,8,7,1,7,7,0,2,5
4,4,0.813321,1,4806.669388,4177.792389,1016.392829,1534.096145,1369.946544,484.141707,555.853312,...,2,5,5,7,2,9,13,0,3,7

In [32]:
obj_col = seperate_dtypes(df)['obj']
target = 'high_risk_flag'

obj_col.extend([target])
variable = obj_col[1]
grouped_df = df.groupby(variable).agg({target : ['mean','std']}).round(2).reset_index()
cols = [variable,'mean', 'std']
grouped_df.columns = cols
grouped_df.fillna(0, inplace = True)
grouped_df['rank'] = (grouped_df['mean'].astype(str) + '_' + grouped_df['std'].astype(str)).rank(method='dense')
grouped_df

  CST_PFT_ARPU_BAND_mode  mean   std  rank
0                 2*STAR  0.00  0.00   2.0
1                 3*STAR  0.00  0.00   2.0
2                 4*STAR  0.00  0.00   2.0
3                 5*STAR  0.00  0.00   2.0
4                DORMANT  0.00  0.00   2.0
5                Missing  0.00  0.00   2.0
6               NEW CUST  0.00  0.00   2.0
7               PRESTIGE  0.02  0.15   1.0
8             PRSTG_MGMT  0.18  0.38   3.0
9                Unknown  0.84  0.36   4.0

In [35]:
le = LabelEncoder()
le.fit(df[variable])
le.transform(df[variable])

array([9, 9, 9, 7, 9, 9, 9, 5, 9, 8, 5, 9, 9, 4, 9, 9, 9, 6, 9, 9, 9, 9,
       5, 9, 9, 9, 9, 4, 0, 3, 9, 8, 7, 9, 7, 9, 7, 6, 9, 9, 7, 7, 9, 5,
       9, 9, 9, 9, 9, 5, 9, 7, 9, 4, 9, 6, 5, 9, 9, 6, 8, 6, 6, 9, 6, 4,
       9, 5, 9, 9, 9, 9, 7, 8, 3, 9, 8, 9, 4, 8, 8, 9, 9, 9, 8, 9, 9, 9,
       8, 4, 9, 9, 8, 8, 9, 9, 9, 4, 9, 9, 7, 3, 2, 9, 5, 6, 3, 7, 9, 8,
       9, 8, 8, 9, 9, 9, 9, 9, 9, 9, 6, 7, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
       9, 9, 2, 9, 9, 9, 9, 5, 9, 5, 9, 9, 5, 7, 3, 5, 7, 7, 9, 9, 9, 9,
       9, 9, 9, 9, 9, 7, 6, 9, 9, 4, 9, 9, 9, 9, 4, 8, 6, 3, 5, 9, 9, 9,
       8, 9, 8, 9, 7, 9, 9, 9, 8, 9, 9, 9, 9, 9, 9, 7, 9, 9, 9, 9, 3, 9,
       9, 6, 8, 8, 9, 9, 7, 3, 7, 4, 9, 9, 5, 9, 9, 6, 9, 9, 9, 9, 6, 6,
       9, 9, 8, 9, 9, 9, 9, 4, 9, 4, 9, 9, 9, 9, 6, 5, 9, 9, 9, 7, 9, 8,
       6, 9, 9, 8, 6, 9, 9, 9, 9, 9, 6, 9, 9, 9, 9, 7, 7, 6, 6, 9, 6, 9,
       9, 9, 9, 7, 9, 5, 4, 8, 9, 6, 6, 9, 7, 5, 9, 5, 9, 9, 8, 6, 7, 9,
       9, 9, 9, 9, 6, 9, 9, 8, 7, 9, 8, 7, 9, 5, 7, 9, 7, 7, 9, 9, 6, 9,
       9, 9, 8, 5, 4, 9, 9, 4, 9, 9, 9, 9, 7, 6, 9, 5, 9, 7, 4, 9, 4, 9,
       8, 9, 9, 6, 9, 9, 7, 5, 6, 9, 7, 6, 8, 9, 9, 9, 4, 5, 5, 2, 9, 9,
       5, 7, 5, 9, 9, 9, 9, 9, 4, 7, 8, 6, 3, 9, 9, 9, 7, 4, 7, 5, 8, 4,
       4, 9, 4, 6, 6, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 7, 6, 9, 8,
       9, 9, 9, 7, 7, 9, 5, 9, 4, 9, 9, 9, 9, 9, 9, 9, 5, 8, 8, 9, 7, 6,
       9, 9, 9, 9, 9, 6, 9, 8, 9, 5, 8, 9, 9, 9, 8, 9, 9, 9, 9, 4, 9, 9,
       9, 9, 9, 9, 9, 4, 4, 8, 8, 8, 9, 9, 8, 9, 4, 9, 5, 5, 9, 9, 9, 9,
       9, 8, 9, 9, 9, 9, 9, 9, 4, 9, 8, 9, 6, 4, 5, 7, 8, 5, 7, 9, 7, 8,
       8, 6, 9, 9, 9, 9, 7, 9, 8, 9, 5, 9, 9, 6, 9, 9, 4, 9, 5, 3, 9, 9,
       9, 9, 4, 9, 9, 9, 9, 7, 3, 9, 9, 9, 9, 7, 9, 9, 4, 8, 8, 9, 9, 9,
       9, 3, 9, 9, 9, 5, 6, 8, 5, 9, 5, 9, 9, 5, 6, 9, 8, 9, 4, 9, 6, 7,
       4, 9, 9, 7, 8, 9, 8, 5, 2, 9, 9, 5, 9, 9, 9, 9, 7, 9, 9, 9, 9, 7,
       4, 9, 9, 7, 9, 8, 5, 9, 9, 7, 7, 9, 9, 9, 4, 9, 6, 9, 7, 8, 9, 5,
       9, 9, 9, 9, 9, 9, 7, 9, 9, 9, 9, 9, 6, 9, 8, 6, 9, 6, 8, 6, 8, 5,
       9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 4, 9, 9, 8, 9, 9, 9, 9, 9, 9,
       6, 9, 9, 9, 9, 8, 9, 5, 7, 9, 9, 9, 5, 4, 9, 6, 7, 9, 9, 9, 9, 7,
       9, 9, 9, 9, 9, 9, 9, 9, 5, 9, 9, 5, 9, 9, 9, 3, 4, 9, 5, 6, 9, 4,
       9, 9, 9, 9, 2, 9, 9, 8, 9, 9, 9, 7, 9, 9, 9, 3, 6, 9, 6, 5, 9, 6,
       4, 8, 9, 9, 5, 6, 9, 7, 3, 9, 9, 9, 9, 7, 9, 9, 9, 5, 9, 4, 8, 9,
       4, 6, 9, 9, 7, 9, 4, 9, 9, 9, 9, 9, 8, 9, 9, 9, 6, 9, 6, 9, 9, 9,
       9, 5, 8, 9, 9, 9, 9, 8, 9, 9, 8, 6, 9, 9, 9, 7, 8, 9, 5, 9, 9, 4,
       9, 7, 9, 4, 9, 9, 8, 6, 9, 9, 9, 6, 2, 9, 7, 2, 9, 8, 5, 9, 9, 9,
       9, 5, 9, 9, 9, 8, 9, 4, 9, 5, 8, 9, 9, 9, 8, 9, 9, 5, 9, 9, 5, 9,
       7, 6, 9, 9, 6, 8, 6, 9, 9, 9, 9, 6, 6, 4, 6, 9, 9, 9, 9, 7, 4, 6,
       9, 9, 5, 9, 5, 7, 9, 9, 9, 7, 9, 9, 5, 9, 9, 9, 5, 9, 9, 3, 4, 6,
       9, 6, 9, 9, 9, 9, 9, 3, 6, 5, 9, 5, 9, 9, 9, 4, 9, 6, 8, 9, 9, 8,
       6, 8, 9, 2, 4, 4, 9, 9, 9, 9, 3, 9, 9, 7, 4, 7, 9, 3, 7, 7, 9, 9,
       9, 9, 7, 9, 9, 6, 9, 9, 3, 5, 8, 9, 9, 9, 6, 9, 9, 9, 7, 9, 9, 9,
       9, 9, 6, 9, 7, 7, 9, 9, 9, 8, 9, 8, 7, 9, 9, 6, 9, 8, 1, 5, 9, 9,
       4, 9, 9, 6, 3, 9, 9, 9, 4, 9, 5, 7, 5, 9, 9, 6, 9, 9, 9, 7, 9, 9,
       5, 9, 9, 7, 7, 5, 9, 7, 8, 9, 4, 9, 6, 9, 9, 9, 8, 7, 9, 9, 8, 9,
       9, 5, 9, 9, 9, 9, 9, 9, 9, 7])